.company-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 6.9em 0em;
}

.company-list img {
  width: 10%;
  height: 3em;
  filter: grayscale(1);
  z-index: -1;
}

@media (width < 800px) {
  .company-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    place-items: center;
  }
  .company-list img {
    width: 100%;
    height: auto;
  }
}
